<form [formGroup]="form" (ngSubmit)="onSubmit()" style="max-width: 400px;margin: auto;padding: 2rem">
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>
      Name
    </mat-label>
    <input matInput placeholder="Enter your name" formControlName="name"  />
  </mat-form-field>
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>
      Email
    </mat-label>
    <input matInput type="email" placeholder="Enter your email" formControlName="email" />
  </mat-form-field>
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>
      Password
    </mat-label>
    <input matInput placeholder="Enter your password" formControlName="password" type="password"  />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Register
  </button>
  <mat-error *ngIf="error">{{ error }}</mat-error>
  <mat-hint *ngIf="success" class="success">{{ success }}</mat-hint>
</form>
