$color-primary: #7e57c2;
$color-primary-light: #d1c4e9;
$color-primary-dark: #5e35b1;

$color-accent: #ff4081;
$color-accent-light: #f8bbd0;

$color-warn: #f44336;

$color-bg: #f9f9f9;
$color-text: #333;
