<form [formGroup]="form" (ngSubmit)="onSubmit()" style="max-width: 400px;margin: auto;padding: 2rem">
  <mat-form-field>
    <mat-label>Project name</mat-label>
    <input matInput formControlName="title" placeholder="Título del proyecto"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Project description</mat-label>
    <textarea matInput formControlName="description" placeholder="Descripción del proyecto"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput type="date" formControlName="startDate" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Delivery Date</mat-label>
    <input matInput type="date" formControlName="deliveryDate" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>State</mat-label>
    <mat-select formControlName="state">
      <mat-option *ngFor="let s of statuses" [value]="s">{{ s }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Create project</button>
</form>

