@use '../.././styles/palette' as *;

.app-toolbar {
  background-color: $color-primary;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  .app-title {
    font-weight: bold;
    font-size: 20px;
  }

  .spacer {
    flex: 1;
  }

  button {
    color: white;
  }
}

.app-content {
  padding: 24px;
  background-color: $color-bg;
  min-height: calc(100vh - 64px);
}
