@use '../../../../../styles/palette' as *;

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
  padding: 2rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $color-primary;
  }

  p {
    font-size: 1.2rem;
    color: $color-text;
    margin-bottom: 2rem;
  }

  .home-actions {
    display: flex;
    gap: 1.5rem;

    button {
      min-width: 120px;
      font-weight: 500;
    }
  }
}
