<div *ngIf="project">
  <h2>{{ project.title }}</h2>
  <p>{{ project.description }}</p>
  <p>Start: {{ project.start_date | date:'yyyy-MM-dd' }}</p>
  <p>Dead line: {{ project.delivery_date | date:'yyyy-MM-dd' }}</p>
  <p>Status: {{ project.state }}</p>
  <p>Created at: {{ project.created_at | date: 'yyyy-MM-dd' }}</p>
</div>
<div style="margin-top: 2rem">
  <button mat-raised-button color="primary" [routerLink]="['/projects', project?.id, 'update']">
    Update
  </button>
  <button mat-raised-button color="warn" (click)="openDeleteConfirmation()">
    Delete
  </button>
</div>
