<form [formGroup]="form" (ngSubmit)="onSubmit()" style="max-width: 400px;margin: auto;padding: 2rem" >
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>
      Email
    </mat-label>
    <input matInput formControlName="email" placeholder="example@email.com" type="email" />
  </mat-form-field>
  <mat-form-field class="w-full" appearance="fill">
    <mat-label>
      Password
    </mat-label>
    <input matInput formControlName="password" placeholder="********" type="password" />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Login
  </button>
  <mat-error *ngIf="error">{{error}}</mat-error>
</form>
